@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.trainings {
  padding: 10px;
}

/*************************************************************
  Form
**************************************************************/

.training-form {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-bottom: 30px;
}

.training-form__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.training-form__item:not(:last-child) {
  margin-right: 20px;
}

.training-form__item:last-child {
  margin-left: auto;
}

.training-form__label {
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 18px;
}

.training-form__input {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  padding: 0 10px;
}

.training-form__button {
  align-self: center;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
}

/*************************************************************
  List
**************************************************************/

.training-list {
  width: 700px;
}

.header {
  display: flex;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 18px;
}

.header__date, .header__distance, .header__actions {
  flex-basis: 100%;
}

.header__distance, .header__actions {
  text-align: center;
}

.list {
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
}

.training {
  width: 100%;
  display: flex;
}

.training:not(:last-child) {
  margin-bottom: 30px;
}

.training__date, .training__distance, .training__actions {
  flex-basis: 100%;
}

.training__distance, .training__actions {
  text-align: center;
}

.training__actions a {
  font-size: 24px;
  color: black;
  margin-right: 10px;
  text-decoration: none;
}